.body-style {
    padding-left: 95px;
    .heading {
        color:black;
        text-align: left;
        padding-top: 7px;
        font-size: 30px;
        font-weight: bold;
        line-height: 25px;
    }
}
